/*=================== FOOTER SECTION ================== */

footer {
    display: grid;
    background-image: linear-gradient(transparent 10%, hsla(28, 100%, 86%));
    grid-gap: 20px;
    grid-template-columns: 1fr 5px [start] repeat(3, 1fr) [end] 5px 1fr;
    width: 100%;
    margin-block-start: 5rem;
    padding-block-end: 2rem;
}

#footerwrapper {
    border-top: 1px solid black;
    grid-column: start / end;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.undersider a, .åbningstider li {
    text-align: center;
    display: block;
    color: black;
    margin: 10px 0;
    border-radius: 4px;
    padding: 3px;
    background-color: rgba(255, 136, 0, 0.3);
}
.undersider a{
    width: 100px;
}

.åbningstider li {
    width: 200px;
}

.socialmedia img {
    position: relative;
    margin: 10px;
}

.socialmedia a{
    position: relative;
    color: black;
}

.socialmedia a::after {
    position: absolute;
    border-radius: 4px;
    padding: 3px;
    left: 50px;
    top: -20px;
    content: attr(data-descr);
    background-color: rgba(255, 136, 0, 0.3);
}

/* =================== TABLET & SMALL SCREEN SECTION ==================*/
@media only screen and (max-width: 1200px) {
    footer {
      grid-template-columns: auto 20px [start] 1fr 1fr 1fr [end] 20px auto;
    }
  }
  
  /* =================== MOBILE SECTION ==================*/
  @media only screen and (max-width: 800px) {
    footer {
      grid-template-columns: auto 5px [start] 1fr 1fr 1fr [end] 5px auto;
    }

    .socialmedia a::after {
        display: none;
    }
  }