<div id ="footermargins">
    <div id="footerwrapper">
        <div class="footer info"><p>
            <b>Lopper og landstil</b><br>
            v/Anja Hjorth Jensen    <br>
            Østerhøjgaard           <br>
            Kjeldbækvej 1, Ørting   <br>
            8300 Odder              <br>
            Tlf: 41 60 46 49        <br>
            info@lopperoglandstil.dk<br>
            CVR nr: 38435671        <br>
        </p></div>
        <div class="footer socialmedia"><p>
            <b>Følg os:</b> <br>
            <a data-descr="Facebook" href="https://www.facebook.com/LopperogLandstil/"><img src="/imgs/fblogo.png" height="42" width="42"></a> <br>
            <a data-descr="Instagram" href="https://www.instagram.com/lopperoglandstil/"><img src="/imgs/inslogo.png" height="42" width="42"></a> <br>
        </p></div>
        <div class="footer undersider"><p>
            <b>Sider:</b> <br>
            <a href="index.html">Forside</a>
            <a href="#">Hvem er jeg</a> 
            <a href="#">Kontakt</a> 
            <a href="katalog.html">Katalog</a>
        </p></div>
        <div class="footer åbningstider"><p>
            <b>Åbningstider:</b>               <br>
            Torsdag: 14:00 – 18:00   <br>
            Fredag:	14:00 – 18:00       <br>
            Lørdag:	10:00 – 14:00       <br>
            Søndag:	11:00 – 15:00       <br>
        </p></div>
    </div>
</div>