
html, body {
  height: 100%;
  margin: 0px;
}
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffafa;
}

/* =================== HEADER SECTION ================== */

.headerimage {
  height: 80%;
  width: 100%;
  background: linear-gradient(transparent 90%, #fffafa), url("imgs/odderAvis1.jpg") no-repeat;
  background-size: cover;
  background-position: 200px, 0px;
}
.headerimage-katalog {
  height: 30%;
  width: 100%;
  background: linear-gradient(transparent 80%,#fffafa), url("imgs/odderAvis8.jpg") no-repeat;
  background-size: cover;
  background-position: 200px, 0px;
}

.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: +1;
  width: 100%;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  align-items: center;
  text-align: center;
  margin: 40px 10%;
}

nav .logo {
  height: 150px;
  margin: 5px;
}

nav .navLinks {
  padding: 10px;
  background-color: hsla(28, 100%, 86%, 0.70);
  max-height: 25px;
  min-height: 25px;
}

nav .navLinks a {
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  width: 100%;
}

nav .navLinks a:hover {
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  padding: 0.5em;
}

/* =================== INDEX SECTION ================== */

#content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 5px [start] 1fr 1fr 1fr [end] 5px 1fr;
  text-align: center;
  width: 100%;
  margin-block-start: 2em;
}

#content #title{
  grid-column: start / end;
  border-bottom: 1px solid black;
  font-size: 1.5em;
  padding: 0 0 4px;
  color: rgb(27, 27, 27);
}

#content #subtitle{
  grid-column: start / end;
  font-size: 1.3em;
  color: rgba(27, 27, 27, 0.9);
}

#content .wide{ grid-column: start / end; }
#content .left{ grid-column: start / 4; }
#content .middle{ grid-column: 4 / 5; }
#content .right{ grid-column: 5 / end; }
#content .spanleft{ grid-column: start / 5; }
#content .spanright{ grid-column: 4 / end;}

#content p{
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  font-size: 1.3em;
  line-height: 1.5;
}

#content img{
  object-fit: cover;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 8px #fff;
}

/* =================== KATALOG SECTION ================== */

.container {
  display: table;
  width: 100%;
}
.product-menu {
  display: table-cell;
  width: 15%;
  height: 500px;
  background-color: red;
  overflow: hidden;
}

.products {
  height: 200px;
  display: table-cell;
  width: 80%;
  background-color: #fffafa;
}

.menu-content {
  list-style-type: none;
  margin: 0;
  padding: 20px 10px 10px 10px;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.menu-content li a {
  display: flex;
  background-color: #dddddd;
  font-size: larger;
  padding-left: 20px;
}

.menu-content li a:hover {
  background-color: #555;
  color: white;
}

.menu-content li a:active {
  background-color: #4CAF50;
  color: white;
}

.products-content {
  float: left;
  /*background-color: rgba(0,0,0,0.05);*/
  min-width: 300px;
  width: 25%;
  margin: 10px;
  border: 1px #dddddd solid;
}

.product-picturebox{
  width: 95%;
  margin: 2.5%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.product-picture {
  height: 180px;
  opacity: 1;
}

.bottomleft {
  position: absolute;
  bottom: 0px;
  /*left: 16px;*/
  font-size: 16px;
  z-index: +1;
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 20%;
  text-align: left;
  padding-left: 3%;
  overflow: hidden;
}

.product-name {
  margin-top: 5px;
  color: black;
}

.products-name {

}

.products-price-reservation {
  display: table;
  width: 90%;
  margin-top: 3%;
  padding: 5px 5% 5px 5%;
  border-top: 1px #dddddd solid;
}

.products-price {
  display: table-cell;
  width: 80%;
}

.pruducts-reservation {
  display: table-cell;
  width: 20%;
}

.product-price {
}

.reservation {
  padding: 3px 15px 3px 15px;
  background: linear-gradient(transparent 35%, #B3A38F), #eedfcc;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
}

.reservation:hover, .reservation:active {
  background: linear-gradient(transparent 35%, #424242), green;
}

/* =================== PRODUCT SECTION ================== */

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  width: 100%;
  grid-gap: 10px;
}

.product-container .main-product-picture {
  grid-column: 1/2;
}

.product-container .main-product-info {
  grid-column: 2/3;
}

.main-product-bigPicture {
  padding-left: 5%;
  padding-top: 15px;
  width: 90%;
}

.main-product-description {
  width: 70%;
}

.main-product-price {
  font-size: larger;
  font-weight: bold;
  margin: 0px;
}
.main-product-status {
  font-size: 13px;
  color: gray;

}
@media only screen and (max-width: 800px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 100%;
    grid-gap: 10px;
  }
  .product-container .main-product-picture {
    grid-column: 1/4;
    min-width: 400px;
  }

  .product-container .main-product-info {
    grid-column: 2/3;
    min-width: 400px;
  }
  .main-product-description {
    width: 100%;
  }
}